$menuText: #fff;
$menuActiveText: #ffd04b;

$menuBg: #545c64;
$menuHover:#434A50;

$subMenuBg:#3B454F;
$subMenuHover:#303840;

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  sideBarWidth: $sideBarWidth;
  menuHover: $menuHover;
}